<li class="border list-unstyled">
    <div class="row">
      <div class="col-1">
        <input *ngIf="listMode" type="checkbox" (click)="marcarMonitoreo()">
      </div>
      <div class="media col">
        <img class="mr-3" src="https://picsum.photos/id/{{producto.uid}}/100/100" alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{producto.nombre}}</h5>
          <p>Precio (MXN): ${{producto.precio}}</p>
          <p>marca: {{producto.marca}}</p>
          <p>Descripción: {{producto.descripcion}}</p>
          <p>Existencia: {{producto.existencia}}</p>
        </div>
        <div class="media-right col-2 mt-3">
          <div class="row">
            <a name="" id="" class="btn btn-primary" href="#" role="button"><i class="fas fa-edit    "></i></a>
          </div>
          <div class="row mt-3">
            <a name="" id="" class="btn btn-primary" href="#" role="button"><i class="fas fa-search    "></i></a>
          </div>
          <!-- Eliminar Producto de lista -->
          <div *ngIf="listMode" class="row mt-3">
            <a name="" id="" class="btn btn-danger" role="button" (click)="eliminarProductoLista()"><i class="fas fa-trash    "></i></a>
          </div>
          <!-- Eliminar Producto de Monitoreo -->
          <div *ngIf="!listMode" class="row mt-3">
            <a name="" id="" class="btn btn-danger" role="button" (click)="eliminarProductoMonitoreo()"><i class="fas fa-trash    "></i></a>
          </div>
        </div>
      </div>
    </div>
  </li>